.alert-container {
	position: fixed;
	top: 10px;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: 100000;
	text-align: center;
}

.alert-container .alert {
	white-space: nowrap;
	max-width: 300px;
	display: inline-block;
}