.wall {
	
}


/* WHERE AM I */
.pwd {
    padding: 0px;
    padding-bottom: 3em;
}

.pwd h1 {
    font-size: 1.2em;
    float: left;
}

.konga-nav-vertical {
    border-right: 5px solid #444444;
    border-collapse: collapse;
}

.konga-nav-vertical + div.tab-content {
    border-left: 5px solid #444444;
    border-collapse: collapse;
    margin-left: -5px;
}

.konga-container {
	position: relative;
}

.pwd {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: 0px;
    padding-bottom: 3em;
    z-index: 2;
}

.konga-container.plain-app .wall {
    position: relative;
    padding-top: 3em;

}

.ng-scope.plain-app > * {
    padding-top: 3em;
}

.full-width-component {
    width: 100% !important;
}

.form-group.mode-update {
    width: 100%;
}