.multi-select {
	position: relative;
	width: 100%;
	height: auto;
}

.multi-select .filter {
	float: right;
	margin-top: -0.3em;
}

.multi-select .clear {
	display: block;
	clear: both;
}

.multi-select .list-group-item.selected {
	background: #a2c8e5;
}

.multi-select .bulk-option {
	padding-left: 9px;
	padding-right: 9px;
}

.non-extended {
	position: relative;
}

.select-input > .col-md-6:nth-child(1) {
	padding-left: 0px;
}

.multi-select-modal-body-item.center {
    margin-top: 100px;
}

.multi-select-modal-body-item.center button {
    display: block;
    width: 3em;
    margin: auto;
    margin-top: 1em;
}

.multi-select-modal-body-item {
    height: 300px;
    overflow: auto;
    padding: 0;
}

.multiselect-list {
    margin-bottom: 0px !important; 
}

.multiselect-list .list-group-item {
	border-radius: 0 !important;
}