/*Text area definition*/
textarea {
	width: 100%;
}

/*Complex types extra data*/
/*The input renders differently for search and update modes*/

div.complex-input {
	border-radius: 5px;
	border: 1px solid rgb(204, 204, 204);
	height: auto;
	max-height: 34px;
	min-height: 34px;
	background: white;
}

div.complex-input.required.invalid {
	border-color: #e33b3b;
	margin-bottom: 1.5em;
}

div.complex-input span.complex-label {
	margin: 0;
	display: table-cell;
	padding: 6px 12px;
}

div.mode-search div.complex-input label {
	display: none !important;
}

div.complex-input button {
	margin: 0;
	display: table-cell;
	padding: 6px 12px;
	float: right;
}

div.mode-search div.complex-input input {
	width: 70% !important;
	display: table-cell;
}

div.mode-update div.complex-input input {
	width: 40% !important;
	display: table-cell;
}

div.complex-input * {
	margin-top: -1px;
	margin-left: -1px;
}


/*
Validation configuration
*/

.validation {
	position: relative;
	display: none;
	clear: both;
}

.validation div {
	display: none;
}

/* Enable validation divs on invalid input */
div.input-group *.ng-invalid ~ div.validation {
	display: block;
	margin: 0px 5px;
}

div.input-group *.ng-invalid.ng-invalid-required ~ div.validation > div.validation-required {
	display: block;
}

div.input-group *.ng-invalid.ng-invalid-pattern ~ div.validation > div.validation-pattern {
	display: block;
}

.validation div {
	padding: 0.5em 1em;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-top: -5px;
}

.form-group.derived {
    padding-right: 0px;
}
.input-group.derived {
    width: 100% !important;
}