/*Text area definition*/
textarea {
	width: 100%;
}

/*Complex types extra data*/
/*The input renders differently for search and update modes*/

div.complex-input {
	border-radius: 5px;
	border: 1px solid rgb(204, 204, 204);
	height: auto;
	max-height: 28px;
	min-height: 28px;
	background: white;
	width: 100%;
}

/*
 * TODO Append length validation to complex fields
 */
div.complex-input.required.invalid {
	border-color: #e33b3b;
	margin-bottom: 1.5em;
}

.complex-label {
	padding-top: 3px;
	white-space: nowrap;
}

div.mode-search div.complex-input label {
	display: none !important;
}

div.complex-input button {
	margin: 0;
	display: table-cell;
	padding: 3px 8px;
	float: right;
}

div.mode-search div.complex-input input {
	width: 85% !important;
	display: table-cell;
}

div.mode-update div.complex-input input {
	width: 20% !important;
	display: table-cell;
}

div.complex-input * {
	margin-top: -1px;
	margin-left: -1px;
}

.large-size {
	width: 100% !important;
}

.form-horizontal.ng-pristine.ng-invalid.ng-invalid-required .col-md-9.extend {
	width: 70%;
	padding-right: 0px;
	padding-left: 0px;
}

.bg-invalid {
	background: #e33b3b !important;
	border: 1px solid #e33b3b !important;
}

.text-bg-invalid {
	color: white !important;
}

.col-md-2.extend {
	height: 28px;
}

.span.complex-label-extended.ng-binding {
	margin: 0;
	display: table-cell;
	padding: 5px 12px;
}

.col-md-9.extend {
	width: 70%;
	padding-right: 0px;
	padding-left: 0px;
}

.form-group.col-md-12.mode-update.extended {
	width: 92%;
}

div.complex-input button.btn.btn-link {
    position: absolute;  top: 0px;  right: 0px;
}

div.complex-input button.btn.btn-link-remove {
    position: absolute;  top: 0px;  right: 30px;
    color: red;
}

.input-group-addon {
	padding: 0px;
}

.input-group-addon .btn {
	padding: 1px 6px;
}

.form-input-content {
	display: table;
	width: 100%;
}

.form-input-content > div:nth-child(1),
.select-input > div:nth-child(1) {
	padding-left: 0px;
	padding-right: 0px;
}

.no-padding {
	padding: 0;
}

.form-group label {
	font-weight: normal;
}

.font-normal {
	font-weight: normal !important;
}

.font-bold {
	font-weight: bold !important;
}

.font-underline {
	text-decoration: underline;
}

.btn-bordered-left {
	border-left: 1px solid #787878 !important;
}

.select-input:not(.disabled) input {
	background: white !important;
}

.combobox-button {
	position: relative;
	display: block !important;
	width: 100%;
	text-overflow: ellipsis;
	padding-right: 20px;

	font-size: 0.85em !important;
	font-weight: normal !important;
	color: #444444;
}

.combobox-button span.caret {
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -2px;
}

input.hideArrows::-webkit-outer-spin-button,
input.hideArrows::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.radio-inline {
	padding-left: 20px !important;
}

.raw-switch-input {
    font-size: 1.8em;
}