.tabbable {
    clear: both;
    width: 100%;
}

.tabbable .padding-cero {
	padding: 0 !important;
}

.tabbable > input.form-control {
	border: 4px black solid;
	
}
.tabbable > ul.konga-nav-vertical {
	border-bottom: 0;
}
.tabbable > ul.konga-nav-vertical > li {
	margin-top: 0;
	width: 100%;
}
.tabbable>ul.konga-nav-vertical > li > a {
	width: 100%;
	margin-left: 0 !important;
}

.tabbable > ul.konga-nav-vertical > li.active > a {
	background-color: #428BCA !important;
}

.tabbable .tab-pane{
	padding: 10px;
}