header ul.nav {
	display: inline-block;
}

.clear-navbar {
	margin-top: 50px; 
}

.wrapper {
	margin: 0px 15px;
}

.navbar-inner {
    background: #383838;
}

.navbar .brand {
    color: #fefefe;
}

.navbar img {
    margin: 0.5em;
}

header .nav > li {
    display: inline-block;
    padding: 0.5em;
    color: #dedede;

    transition: ease-in-out 0.2s all;
}

header .nav > li:not(.active):hover {
	color: #fefefe;
}

header .nav > li:not(.active) i {
	display: none !important;
}

header .nav > li > a, 
header .nav > li > a:hover,
header .nav > li > a:focus {
	background: transparent;
	color: inherit;
}

header .nav > li.active {
    background: #efefef;
    box-shadow: 0px 0px 5px #222;
    color: #383838;
}

header .nav > li.active.orange {
	background: #FDD58C;
}

header .nav > li.active.green {
	background: #A8FFA8;
}

header .nav > li.active.red {
	background: #FDBFBF;
}

header .nav > li.active.blue {
	background: #A2D1FD;
}

.dropdown.search {
    margin-top: 1em;
}

.dropdown.search input {
    border-radius: 1em;
    outline: none;
    border: 1px solid #787878;
    padding: 0.2em 1em;

    transition: ease-in-out 0.2s width;
}

.dropdown.search input:focus {
    border-radius: 1em;
    outline: none;
    border: 1px solid #787878;
    padding: 0.2em 1em;
    width: 300px;
}

.dropdown.search:after {
    content: '\1F50E';
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0.35em;
}

.wrapper .row:nth-child(2) {
    position: relative;
}

.menu {
	background: #fefefe;
	box-shadow: 0px 0px 5px #222222;
    min-height: 100%;
}

.menu a:focus {
    outline: none;
}

@media screen and (min-width: 1200px) {
	.col-lg-offset-1_5 {
	    margin-left: 12.5%;
	}
}

/*
 * Breadcrumbs
 */

ul.breadcrumb {
    font-family: monospace;
    height: 2em;
    padding: 0em 0.5em 1em 0.5em;
}

.breadcrumb > li {
    float: left;
    padding: 0.5em 0;
}

.breadcrumb > li:first-child:before {
	float: left;
    top: 7px;
    left: 20px;
    content: '$pwd';
    margin-right: 0.5em;
    color: #999;
}

.breadcrumb .divider {
	float: left;
	font-size: 0.8em;
	margin: 0.2em 0.5em;
}

.breadcrumb>li+li:before {
	content: none;
}

.no-padding {
	padding: 0 !important; 
}

/*
 * Menu
 */

li.nav-header.module {
    font-size: 1.1em;
}

li.nav-header.module a {
    display: inline-block;
    padding-bottom: 0px;
}

li.nav-header.module a.guide {
    color: #999999;
    padding-right: 0px;
    font-size: 0.8em;
    margin-top: -1px;
}

li.nav-header.module a.code {
    padding-left: 0px;
    color: #444444;
}

li.nav-header.section {
	margin-top: 0.5em;
    background: #efefef;
}

li.nav-header.section a.guide {
    padding: 0.2em 1.5em;
    color: #666666;
}

li.nav-header.section a.guide i {
	color: #9a9a9a;
	font-size: 0.8em;
	margin-top: -1px;
}

li.nav-header a,
li.nav-header a:hover,
li.nav-header a:focus,
li.api-list-item a,
li.api-list-item a:hover,
li.api-list-item a:focus {
	background: transparent;
}

li.api-list-item:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#222222+0,000000+5&0.65+0,0.5+5,0+7 */
	background: -moz-linear-gradient(left,  rgba(34,34,34,0.65) 0%, rgba(0,0,0,0.5) 2%, rgba(0,0,0,0) 2.1%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(34,34,34,0.65) 0%,rgba(0,0,0,0.5) 2%,rgba(0,0,0,0) 2.1%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(34,34,34,0.65) 0%,rgba(0,0,0,0.5) 2%,rgba(0,0,0,0) 2.1%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6222222', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

li.api-list-item {
	padding-left: 2.5em;
}

li.api-list-item i {
	position: absolute;
	left: 0px;
	margin-top: 3px;
}

.menu h1 {
    font-size: 1.5em;
    color: #444444;
    text-align: center;
    box-shadow: 0px 0px 5px #bbb;
    margin-top: -10px;
    padding: 1em;
}


/* Details */

.content span.hint {
    display: none !important;
}

.margin-top-3em,
.spacer {
    margin-top: 3em;
}

h2.welcome {
    font-size: 3em;
}

div > img {
    max-width: 100%;
}

button .muted {
    font-size: 0.8em;
    color: #dedede;
}

.row.paragraph {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul.text-right li {
    list-style-position: inside;
}

pre.preview {
    white-space: nowrap;
    overflow: auto;
}

pre {
    margin-bottom: 2em;
}

a .muted,
button .muted {
    font-size: 80%;   
}

img.center {
    margin: auto;
}

div.label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
    background-color: transparent !important;
    text-align: left !important;
    font-weight: normal !important;
    white-space: initial !important;
    border-radius: 0 !important;
    display: block !important;
    padding: 0 !important;
}

div.label:before {
    content: none !important;
    display: none !important;
}

div.label:after {
    content: none !important;
    display: none !important;
}

span.label a {
    color: white !important;
}

span.label.label-success,
span.label.label-primary,
span.label.label-warning,
span.label.label-danger {
    font-weight: 300;
}

.properties .hidden {
    display: block !important;
}


.type-hint-function {
    background: green;
}

.methods .modal {
    display: block !important;
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: auto;
}

.love-icon {
    color: #F34B96;
}

body {
    padding-bottom: 2em;
}

footer {
    padding: 3em;
}

code {
    color: #54A05D;
}

.page-clear {
    clear: both;
}