.catalog {
	position: relative;
	padding-left: 40%;
	min-height: 60%;
}

.catalog .display-modes {
	position: absolute;
	top: 0px;
	right: 20px;
	z-index: 99;
}

.catalog .display-modes button.mode {
	font-size: 25px;
	/* padding: 0px; */
	border-radius: 10px;
	background: #ddd;
	margin: 0px 1px;
	border: 0;
	outline: 0;
	color: #222222;
	cursor: pointer;
}

.catalog .display-modes button.mode.on {
	background: #aaa;
	cursor: default;
}

.catalog .display-modes button.mode.table {

}

.catalog .display-modes button.mode.table:after {
	content: "\268c";
}

.catalog .display-modes button.mode.grid {

}

.catalog .display-modes button.mode.grid:after {
	content: "\268f";
}

.catalog .back {
	position: fixed;
	top: 10%;
	left: 5%;
	font-size: 18px;
	background: #aaa;
	border: 0;
	outline: 0;
	border-radius: 10px;

	padding: 2px 10px;

	font-family: Comic Sans MS;
	color: white;
}

.catalog .back:before {
	content: "\2934";
}

.catalog .aside {
	position: fixed;
	top: 10%;
	left: 5%;
	width: 30%;
	height: 75%;
	margin-top: 5%;
	background: #ddd;
	border-radius: 1em;

	padding: 10px;

}

.catalog .aside h1 {
    color: #5bb0d7;
    font-size: 24px;
}

.catalog .results {
	position: relative;
}

{
	position: relative;
	display: block;
	float: left;
	margin: 10px;
	margin-bottom: 20px;
	background: #ddd;
	border-radius: 10px;
	/* max-width: 20%; */
	padding: 5px !important;
	text-align: center;
	font-size: 14px;
	width: 130px;
	height: 150px;
	/* padding: 5px; */
	cursor: pointer;
}

.discount {
	position: absolute;
	top: -10px;
	left: -10px;
	width: 40px;
	height: 40px !important;
	background: url('/img/discount_bg.png') center center no-repeat;
	background-size: 100% 100% !important;

	padding-top: 10px !important;

	text-align: center;
	font-size: 14px;
	color: #637c15;
}

span.politics {
	position: absolute;
	top: 2px;
	left: 0px; 
	right: 0px;
    display: block;
    color: #d51515;
    font-size: 10px;
}

div.img {
	width: 100px;
	height: 60px;
	display: block;
	margin: auto;
	margin-top: 12px;
}

div.img img {
	margin: auto;
	max-width: 100px;
	max-height: 60px;
}

div.prices {
	position: relative;
	margin-top: 5px;
	/*margin-bottom: 5px;*/
	text-align: left;
}

span.ref {
    font-size: 12px;
    color: #aaa;
    display: inline-block;
}

span.price {
    font-size: 12px;
    display: block;
    float: right;
}

span.price.old {
	font-size: 10px !important;
	color: #d51515;
}

span.description {
    font-size: 11px;
    display: block;
    margin-top: 0.5em;
}

.semaphore {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin: auto;
	display: inline-block;
}

.table-cell .semaphore {
	margin-top: 0.7em;
}

span.ref2 {
	position: absolute;
	bottom: 4px;
	left: 20px;
	font-size: 10px;
	color: #aaa;
}

.semaphore.r {
	background: #d51515 !important;
}

.semaphore.a {
	background: #e1a820 !important;
}

.semaphore.v {
	background: #0eda17 !important;
}

.semaphore.az {
	background: #2b51dc !important;
}

span.stock {
	position: absolute;
	bottom: 5px;
	left: 0px; 
	right: 0px;
    display: block;
    color: #999;
    font-size: 12px;

    text-align: right;
    padding-right: 15px;
}

span.stock.nostock {
	color: #d51515;
}

.add-to-cart {
	position: absolute;
	bottom: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	cursor: pointer;

	background: url('/img/cart.png') center center no-repeat;
	background-color: inherit;
	background-size: 80% 80%;
}

.catalog .detailsPane {
	position: fixed;
	top: 10%;
	left: 20%;
	width: 60%;
	height: auto;
	z-index: 105;
}

.catalog .detailsPane .details {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 1em;
	background: white;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #222;
	z-index: 102;
	text-align: center;
}

.catalog .detailsPane div.add-to-cart {
	background-color: transparent !important;
}

.catalog .detailsPane .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 16px;
	height: 16px;
	background: #d51515;
	border: 1px solid #aaa;
	border-radius: 8px;
	cursor: pointer;
	z-index: 103;
}

.catalog .detailsPane .details img {
	position: relative;
	margin: auto;
	max-width: 630px;
	max-height: 500px;
}

.catalog .detailsPane .details span.ref {
    float: left;
    font-size: 18px;
    color: #aaa;
    
    margin: 0.5em 0;
}
.catalog .detailsPane .details span.price {
    float: right;
    font-size: 18px;
    margin: 0.5em 0;
}

.catalog .detailsPane .details .pagination {
	position: absolute;
	top: 30%;
	width: 30px;
	height: 40%;
	background-size: 100% 100%;
	cursor: pointer;
}

.catalog .detailsPane .details .previous {
	position: absolute;
	left: 10px;
	background-image: url('/img/pagination_bwd.png');
}

.catalog .detailsPane .details .next {
	position: absolute;
	right: 10px;
	background-image: url('/img/pagination_fwd.png');
}

.catalog .detailsPane .details .add-to-cart {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	cursor: pointer;

	background: url('/img/cart.png') center center no-repeat;
	background-color: inherit;
	background-size: 80% 80%;
}

.catalog .aside .pricepolicy {
	margin-left: 30px;
	display: inline-block;
	height: 30px;
}
.catalog .aside .pricepolicy button {
	margin-top: -15px;
}

.catalog .aside .pricepolicy div {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	display: inline-block;
	margin: 0 3px;
	cursor: pointer;
}

.catalog .aside .pricepolicy div.white {
    background: #fff !important;
}

.catalog .aside .pricepolicy div.grey1 {
    background: #aaa !important;
}

.catalog .aside .pricepolicy div.grey2 {
    background: #666 !important;
}

.catalog .aside .pricepolicy div.black {
    background: #000 !important;
}

.catalog .aside .selectionLabel.white {
    color: #fff !important;
}

.catalog .aside .selectionLabel.grey1 {
    color: #aaa !important;
}

.catalog .aside .selectionLabel.grey2 {
    color: #666 !important;
}

.catalog .aside .selectionLabel.black {
    color: #000 !important;
}

.catalog .order {
	position: absolute;
	top: 50px;
	bottom: 30px;
	left: 10px;
	right: 10px;
	overflow: auto;
}

.catalog .order .product {
	position: relative;
	margin: 10px;
	margin-right: 2px;
	max-height: 100px;
	padding-right: 60px;
	clear: both;
	display: block;
}

.catalog .order .product button.img {
	position: relative;
	width: 90px;
	height: auto;
	margin-right: 10px;
	float: left;
}

.catalog .order .product button.img img {
	max-width: 90px;
	max-height: 90px;
	margin: auto;
}

.catalog .order .product .ref {
	color: #aaa;
	font-size: 12px;
}

.catalog .order .product .code {
	font-size: 14px;
}

.catalog .order .product .buyPrice {
	font-size: 12px;
}

.catalog .order .product .sellPrice {
	font-size: 12px;
}

.catalog .order .product .description {
	display: block;
	font-size: 13px;
}

.catalog .order .product .politics {
	clear: both;
	float: left;
}

.catalog .order .product .qty {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 50px;
}

.catalog .order .product .qty .actual {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #222;
}

.catalog .order .product .qty .change {
	margin-top: 25px;
	width: 25px;
	height: 25px;
	background: #666;
	border-radius: 5px;
	border-color: 1px solid #222;
	color: white;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.catalog .aside .summary {
	position: absolute;
	bottom: 5px;
	left: 10px;
	right: 10px;
	text-align: left;
	font-size: 16px;
	color: #666;
}

.catalog .aside .summary .price {
	margin-bottom: 0.5em;
}

.catalog .aside .summary .price .ref2 {
	font-size: 14px;
}

.catalog .aside .summary .finishorder {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 16px;
	color: #222222;
	padding: 5px 10px;
	font-family: Comic Sans MS;
	border: none;
    outline: none;
    border-radius: 0.85em;
    text-align: center;
    background: #0eda17;
    font-family: Comic Sans MS;
    color: white;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 400px;
}

.gridStyle .cart {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	background: url('/img/cart.png') center center no-repeat;
	background-size: 50% 50%;
}

img.tablePicture {
	max-width: 100px;
	max-height: 100px;
}

.sortby {
	margin-left: 20px;
	font-size: 14px;
	color: #aaa;
}

.oldprice {
    position: absolute; 
    left: 0px; 
    right: 0px; 
    text-align: center; 
    top: 0px;

	color: #5bb0d7;
	font-size: 18px;
	padding-left: 0.2em;
}

.oldprice.hiddenPrice {
	color: #ddd;
}