.ordersummary .order {
	position: fixed;
	top: 25%;
	left: 25%;
	right: 50%;
	bottom: 25%;
	padding: 20px;
	border-radius: 20px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background: #ddd;
	border: 3px solid #aaa;
	border-right: 0px;
	overflow: auto;
}

.ordersummary .order .item {
	padding: 5px 10px;
	border-bottom: 1px solid #666;
}

.ordersummary .order .item img {
	max-height: 40px;
	max-width: 60px;
	float: left;
	margin-right: 10px;	
}

.ordersummary .order .item .description {
	display: block;
}

.ordersummary .order .item .qty {
	color: #aaa;
	font-size: 14px;	
}

.ordersummary .order .item .price {
	float: right;
	color: #666;
	font-size: 16px;
}

.ordersummary .summary {
	position: fixed;
	top: 25%;
	left: 50%;
	right: 25%;
	bottom: 25%;
	background: #666;

	padding: 20px;
	border-radius: 20px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 3px solid #aaa;
	border-left: 0px;
	color: #aaa;
}

.ordersummary .summary .countReferences,
.ordersummary .summary .price {
	font-size: 1.5em;
	color: white;
}
.countArticles {
	font-size: 1em;
	color: white;
}

.ordersummary .summary textarea {
	width: 100%;
}

.ordersummary .summary .finish-order {
	position: absolute;
	bottom: 20px;
	right: 20px;
}