<div class="search-pane" ng-init="init()">
	<div class="search-form">
		<h3>{{ 'message.search-filters.title' | translate }}</h3>
		<form role="form">
			<div ng-include="contentUrl"></div>
			<div class="col-md-12 form-group mode-search">
				<div class="text-right">
					<button id="clear-search-pane.id" type="button" class="btn btn-default" ng-click="operations.clear()">
						<i class="glyphicon glyphicon-remove"></i>
						{{'message.action.clean' | translate}}
					</button>
					<button id="submit-search-pane.id" type="submit" class="btn btn-success" ng-click="operations.submit()">
						<i class="glyphicon glyphicon-ok"></i>
						{{'message.action.search' | translate}}
					</button>
				</div>
			</div>
		</form>
	</div>
</div>