<div class="panel-body">

	<div class="modal-header" ng-show="true">
		<button type="button" id="cancelRejectVentilerX" class="close" ng-click="close()">&times;</button>
		<h4 class="modal-title">Editar carrito - {{ entity.description }}</h4> 
	</div>  
	<div class="modal-body">
		<div class="row">
			<div class="col-md-4">

				<!-- Image -->
				<div class="row">
					<raw-input 
						property="field"
						vertical="true"
						ng-repeat="field in productFields | filter:{ name: 'imageUrl' }" 
						entity="productEntity" 
						on-update="operations.updateEntityField"
						on-change="operations.changeEntityField"
						metadata="productMetadata"
						mode="update"
						creating="creating">
					</raw-input>
				</div>

				<!-- Prices -->
				<div class="row">
					<div class="col-md-6 text-warning">
						<span class="buy_price" ng-repeat="field in fields | filter:{ name: 'buy_price' }">
							9{{ entity | mapEdsField:field }}
						</span>
					</div>
					<div class="col-md-6 text-success text-right">
						<span class="sell_price" ng-repeat="field in fields | filter:{ name: 'sell_price' }">
							{{ entity | mapEdsField:field }}&euro;
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="well">
							<h3>Editar datos</h3>
							<div class="row">
								<div class="col-md-12">
									<raw-input 
										property="field"
										vertical="true"
										ng-repeat="field in fields | updateParams:metadata | filter:{ name: '!product'} | orderBy:'+priority.update'" 
										entity="entity" 
										on-update="operations.updateEntityField"
										on-change="operations.changeEntityField"
										metadata="metadata"
										mode="update"
										creating="creating">
									</raw-input>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="modal-footer">
		<button type="button" id="save" class="btn btn-success" ng-click="save()">
			<i class="glyphicon glyphicon-ok"></i>
			{{'message.action.validate' | translate }}
		</button>
		<button type="button" id="close-modal" class="btn btn-default" ng-click="close()">
			<i class="glyphicon glyphicon-remove"></i>
			{{'message.action.close' | translate }}
		</button>
	</div>
</div>