<div class="wall">
	<div class="panel-body sogma-panel-body">
		<div class="search-form col-md-12">
			<form ng-class="formStyle" role="form" name="entityUpdate" novalidate>
				<update-form entity="entity" changes="changes" metadata="metadata" fields="fields" params="params" on-change="operations.changeEntityField" on-update="operations.updateEntityField" creating="creating"></update-form>
				<div class="pull-right update-btn-group">
					<button class="btn btn-default" ng-repeat="action in metadata.actions" ng-model="action" ng-click="operations.dispatchAction(action)" ng-show="action.scope==='UPDATE'" ng-disabled="action.scope!=='UPDATE'" id="update-action-dispatcher-{{ action.name }}">
								{{ action.label | translate }}
					</button>
					<button type="submit" class="btn btn-success" ng-click="proceed()" ng-disabled="entityUpdate.$invalid" id="proceed-order">	
						<i class="glyphicon glyphicon-ok"></i>
						{{ 'message.action.validate' | translate }}
					</button>
					<button class="btn btn-default" ng-click="cancel()" id="cancel-update">
						<i class="glyphicon glyphicon-remove"></i>
						{{ 'message.action.cancel' | translate }}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>