<div class="panel-body">

	<div class="modal-header" ng-show="true">
		<button type="button" id="cancelRejectVentilerX" class="close" ng-click="close()">&times;</button>
		<h4 class="modal-title">Detalle del producto {{ entity.description }}</h4> 
	</div>  
	<div class="modal-body">
		<div class="row">
			<div class="col-md-4">

				<!-- Image -->
				<div class="row">
					<raw-input 
						property="field"
						vertical="true"
						ng-repeat="field in fields | filter:{ name: 'imageUrl' } | allowed:'update'" 
						entity="entity" 
						on-update="operations.updateEntityField"
						on-change="operations.changeEntityField"
						metadata="metadata"
						mode="update"
						creating="creating">
					</raw-input>
				</div>

				<!-- Prices -->
				<div class="row">
					<div class="col-md-6 text-warning">
						<span style="font-size:1.2em" class="buy_price" ng-repeat="field in fields | filter:{ name: 'buy_price' }">
							9{{ entity | mapEdsField:field }}
						</span>
					</div>
					<div class="col-md-6 text-success text-right">
						<span style="font-size:1.5em" class="sell_price" ng-repeat="field in fields | filter:{ name: 'sell_price' }">
							{{ (entity | mapEdsField:field) | number:2 }}&euro;
						</span>
					</div>
				</div>
				<div class="row" ng-if="entity.discount > 0">
					<div class="col-md-6 text-warning">
						<span style="font-size:1.2em" ng-repeat="field in fields | filter:{ name: 'buy_price' }">
							<b>Descuento:</b>&nbsp;{{ entity.discount }}%
						</span>
					</div>
					<div class="col-md-6 text-success text-right">
						<span style="font-size:1.5em" class="text-right" ng-repeat="field in fields | filter:{ name: 'sell_price' }">
							{{ ((entity | mapEdsField:field) * (1 - (entity.discount / 100))) | number:2 }}&euro;
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<raw-input 
							property="field"
							vertical="true"
							ng-repeat="field in fields | updateParams:metadata | filter:{ name: '!imageUrl', categories: 'General' } | orderBy:'+priority.update' | allowed:'update'" 
							entity="entity" 
							on-update="operations.updateEntityField"
							on-change="operations.changeEntityField"
							metadata="metadata"
							mode="update"
							creating="creating">
						</raw-input>
					</div>
				</div>
				<div class="row" ng-if="entity.stock > 0 || entity.totalStock > 0">
					<div class="col-md-12">
						<div class="well">
							<h3>Añadir al carrito</h3>
							<div class="row">
								<div class="col-md-12">
									<raw-input 
										property="field"
										vertical="true"
										ng-repeat="field in cartFields | updateParams:metadata | filter:{ name: '!product'} | orderBy:'+priority.update' | allowed:'update'" 
										entity="cartEntity" 
										on-update="operations.updateEntityField"
										on-change="operations.changeEntityField"
										metadata="cartMetadata"
										mode="update"
										creating="creating">
									</raw-input>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-right">
									<button type="submit" id="add-to-cart" class="btn btn-primary" ng-click="addToCart()" ng-disabled="!cartEntity.product || !cartEntity.quantity">
										<i class="glyphicon glyphicon-plus"></i>
										{{'message.action.add' | translate }}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="modal-footer">
		<button type="button" id="previous" class="btn btn-default" ng-click="previous()" ng-disabled="index <= 0">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Anterior
		</button>
		<button type="button" id="next" class="btn btn-default" ng-click="next()" ng-disabled="(index+1) >= count">
			Siguiente
			<i class="glyphicon glyphicon-chevron-right"></i>
		</button>
		<button type="button" id="close-modal" class="btn btn-default" ng-click="close()">
			<i class="glyphicon glyphicon-remove"></i>
			{{'message.action.close' | translate }}
		</button>
	</div>
</div>