<div class="category-selector col-md-8">
    <div class="step" ng-repeat="level in levels" ng-class="operations.when(level)">
        <button class="action back" ng-click="operations.back(1)">&nbsp;</button>
        <h1 ng-click="back(1)">
            {{ metadata.levels[current].title }}
            <!-- <span class="info">
                <span ng-repeat="family in families | filter:{selected:true}">
                    {{ family | onlyName }}
                </span>
            </span> -->
        </h1>

        <button class="action forward" ng-click="operations.forward()">&nbsp;</button>

        <div class="families">
            <div class="family {{ family.selected ? 'selected' : '' }}" ng-repeat="family in level.families" ng-click="operations.toggleFamily(family)">
                <img ng-src="{{ family.imageUrl }}" alt="{{ family.name }}" />
                <span>{{family.name | shortify:10 }}</span>
            </div>

        </div>
    </div>
</div>