<div class="col-md-12 tailoring-input">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<div class="input-group">
				<input class="form-control input-lg" type="text" ng-model="model.measurements.width" placeholder="Ancho" ng-required="step.field.required" />
				<span class="input-group-addon">&nbsp;cm.&nbsp;</span>
			</div>
		</div>
		<div class="col-md-1 text-center"><strong>x</strong></div>
		<div class="col-md-5">
			<div class="input-group">
				<input class="form-control input-lg" type="text" ng-model="model.measurements.height" placeholder="Alto" ng-required="step.field.required" />
				<span class="input-group-addon">&nbsp;cm.&nbsp;</span>
			</div>
		</div>
	</div>
</div>