<div class="panel-body">

	<div class="modal-header" ng-show="true">
		<button type="button" id="cancelRejectVentilerX" class="close" ng-click="cancel()">&times;</button>
		<h4 class="modal-title">Bienvenido a Presupuestor</h4> 
	</div>  
	<div class="modal-body">
		<div class="panel-body">
			<div class="col-md-12 padding-cero headContent">
				<div class="well">
					Bienvenido al sistema <b>Presupuestor</b>. Como sabes, el acceso a esta herramienta está limitado a las tiendas. Por ello, necesitas seleccionar una tienda para tu conexión. Una vez la hayas seleccionado, podrás usar todo el potencial de <b>Presupuestor</b>.
				</div>
				<div class="panel panel-default col-md-12 padding-cero">
					<div class="panel-heading ">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-th-list"></i>
							{{'panel.select-store.title' | translate}}:
						</h3>
					</div>
					<div class="panel-body panel-body-custom-border">
						<!-- Stores -->
						<div class="col-md-12">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>&nbsp;</th>
										<th>Nombre de la tienda</th>
										<th>Tipo de tienda</th>
										<th>Tipo de acceso</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-class="{ selected: roleStoreUser === selectedStore }" ng-repeat="roleStoreUser in user.rolesAndStores | orderBy:'store'" ng-click="selectStore(roleStoreUser)">
										<td>
											Logo
										</td>
										<td>
											{{ roleStoreUser.store.name }}
										</td>
										<td>
											{{ roleStoreUser.store.type.name }}
										</td>
										<td>
											{{ roleStoreUser.role.name }}
										</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="pull-right margined-buttons-right margined-buttons-bottom">
							<button type="button" class="btn btn-success" ng-click="validate()" id="storeselector-validate" ng-disabled="!selectedStore">
								<i class="glyphicon glyphicon-ok"></i>
							 	{{'message.action.validate' | translate}}
							</button>
							<!-- <button ng-if="user.admin || user.superadmin" type="button" class="btn btn-warning" ng-click="admin()" id="storeselector-admin">
								<i class="glyphicon glyphicon-user"></i>
							 	Administrar sitio
							</button> -->
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


		