<div class="panel-body">

	<div class="modal-header" ng-show="true">
		<button type="button" id="cancelX" class="close" ng-click="cancel()">&times;</button>
		<h4 class="modal-title">Gestión de opciones</h4> 
	</div>  
	<div class="modal-body" ng-if="!optionable">
		<div class="well bg-warning">
			Este tipo de campo no permite la asignación de opciones.
		</div>
	</div>
	<div class="modal-body" ng-if="optionable">
		<div class="row">
			<div class="col-md-6">
				<div class="form-cascade">
					<raw-input 
						property="field"
						vertical="true"
						ng-repeat="field in stepFields | updateParams:metadata | filter:{ name: 'options' }" 
						entity="step" 
						on-update="updateEntity"
						metadata="stepMetadata"
						mode="update"
						creating="creating">
					</raw-input>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<form name="addTailoringTypeStepTailoringTypeStepOption">
					<div class="row">
						<h4>Añadir nuevo campo</h4>
					</div>
					<div class="row">
						<div class="col-md-4">
							Nombre:
						</div>
						<div class="col-md-8">
							<presupuestor-tailoring-static entity="entity" field="'name'" type="'string'"></presupuestor-tailoring-static>
						</div>
					</div>
					<div class="row separated">
						<div class="col-md-4">
							Valor:
						</div>
						<div class="col-md-8">
							<presupuestor-tailoring-static entity="entity" field="'value'" type="step.field.type"></presupuestor-tailoring-static>
						</div>	
					</div>
					<div class="row separated">
						<div class="col-md-4">
							Imagen:
						</div>
						<div class="col-md-8">
							<input type="file" ng-model="entity.imageUrl" />
						</div>	
					</div>
					<div class="row separated">
						<div class="col-md-12 text-right">
							<button type="submit" id="save" class="btn btn-success" ng-click="save()" ng-disabled="addTailoringTypeStepTailoringTypeStepOption.$invalid">
								<i class="glyphicon glyphicon-floppy-disk"></i>
									{{'message.action.save' | translate }}
							</button>
							<button type="button" id="cancel" class="btn btn-default" ng-click="clear()">
								<i class="glyphicon glyphicon-remove"></i>
									{{'message.action.clean' | translate }}
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="modal-footer">
		<button type="button" id="cancel" class="btn btn-default" ng-click="close()">
			<i class="glyphicon glyphicon-remove"></i>
			{{'message.action.close' | translate }}
		</button>
	</div>
</div>