<div class="tailoring-type-update wall-transparent" ng-controller="TailoringTypeUpdateCtrl">
	<div class="form-cascade">
		<raw-input 
			property="field"
			vertical="true"
			ng-repeat="field in fields | updateParams:metadata | filter:{ categories: 'General' } | orderBy:'+priority.update' | allowed:'update'" 
			entity="entity" 
			on-update="onUpdate"
			on-change="onChange"
			metadata="metadata"
			mode="update"
			creating="creating"
			index="$index">
		</raw-input>

		<!-- Only if not creating -->
		<div class="col-md-12" ng-if="!creating">
			<div class="well">
				<p>
					Los campos definen la confección, y son la fuente con la que se configura cada albarán.
				</p>
				<p>
					Si un campo define una opción configurable por el usuario, debe añadirse una <i>pregunta</i> en el panel de abajo. En caso contrario los campos deben definir también su valor. (e.g. si se quiere dar al usuario a elegir las medidas, se creará una pregunta 'Selecciona tus medidas' asociada al campo de tipo medidas; sin embargo el precio solo será un campo - no tendrá pregunta asociada, ya que el usuario no debería poder modificarlo directamente).
				</p>
				<p>
					<b>Todos los tipos de confección deben tener</b>, al menos:
					<ul>
						<li>Un campo de tipo <b>medidas</b></li>
						<li>Un campo de tipo <b>tabla de precios</b></li>
						<li>Un campo de tipo <b>precio</b></li>
					</ul>
				</p>
			</div>
		</div>

		<raw-input 	ng-if="!creating"			
			property="field"
			vertical="true"
			ng-repeat="field in fields | updateParams:metadata | filter:{ categories: '!General', name: 'fields' }:true | orderBy:'+priority.update' | allowed:'update'" 
			entity="entity" 
			on-update="onUpdate"
			on-change="onChange"
			metadata="metadata"
			mode="update"
			creating="creating"
			index="$index">
		</raw-input>

		<div class="col-md-12" ng-if="!creating">
			<div class="well">
				<p>
					Las preguntas son la manera en la que el usuario puede configurar la confección. Cada campo configurable debe tener asociada al menos una pregunta.
				</p>
				<p>
					Según el tipo de dato, podrás elegir cómo se mostrarán las respuestas al usuario (e.g. opciones, <i>slider</i>, campo de texto, selección de elementos del catálogo...).
				</p>
				<p>
					En cada pregunta encontrarás un campo 'Número de paso' y otro 'Orden'. El primero se usa para decidir en qué paso (pantalla) va a ir la pregunta, y el orden se utiliza para ordenar los campos dentro del mismo paso (si hay más de un campo en la misma pantalla).
				</p>
				<p>
					El campo 'Dependencias' sirve para realizar pasos condicionales. (e.g. si hacemos un enrollable y damos a elegir el accionamiento, querremos condicionar la selección del tipo de mando a distancia a aquellas confecciones accionadas a motor. Para ello, pondremos en las dependencias 'Accionamiento=Motor').
				</p>
				<p>
					Una vez creada la pregunta, se pueden asignar las posibles resupuestas, utilizando el botón 'Respuestas' disponible a la derecha de cada pregunta.
				</p>
			</div>
		</div>

		<raw-input 	ng-if="!creating"			
			property="field"
			vertical="true"
			ng-repeat="field in fields | updateParams:metadata | filter:{ categories: '!General', name: 'steps' }:true | orderBy:'+priority.update' | allowed:'update'" 
			entity="entity" 
			on-update="onUpdate"
			on-change="onChange"
			metadata="metadata"
			mode="update"
			creating="creating"
			index="$index">
		</raw-input>

		<!-- Otherwise show a message -->
		<div ng-if="creating" class="col-md-6 col-md-offset-3">
			<div class="well text-center">
				Para configurar un tipo de paso, introduce primero su nombre y una descripción corta (opcional)
			</div>
		</div>
	</div>
</div>