<div class="wall transparent">
	<div class="panel-body sogma-panel-body">
		<div class="col-md-3 padding-cero">
			<div class="panel panel-default panel-favoris">
				<div class="panel-heading">
					<h3 class="panel-title">
						<i class="glyphicon glyphicon-star"></i>
						<span>{{'message.menu.entity-management' | translate}}</span>
					</h3>
				</div>
				<div class="panel-body">
					<div class="menu-favorite" ng-repeat="entity in metadata.entities | filter:{ access: 'PUBLIC' } | orderBy:'label'" ng-click="operations.openEntitySearch(entity)">
						{{ entity.label | translate }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 col-md-offset-1 padding-cero">
			<div class="col-md-12 padding-cero">
				<div class="panel panel-default panel-rss">
					<div class="panel-heading">
						<h3 class="panel-title">
							<i class="glyphicon glyphicon-envelope"></i>
							{{'message.menu-internal-news' | translate}}
						</h3>
					</div>
					<div class="panel-body">

						En construcción

					</div>
				</div>
			</div>
		</div>
	</div>
</div>