<div class="panel-body sogma-panel-body">
	<div class="col-md-6 padding-cero headContent ">
		<div class="panel panel-default contentCO">
			<div class="panel-heading ">
				<h3 class="panel-title">
					{{'message.ctrOperatChoix.title' | translate}}:
				</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<tr class="tableCO">
						<th><span>{{'message.ctrOperatChoix.paneltitle' | translate}}</span></th>
						<th class="text-center"><span>{{'message.ctrOperatChoix.level' | translate}}</span></th>
						<th class="text-center"><span>{{'message.ctrOperatChoix.defect' | translate}}</span></th>
					</tr>
		 
					<tr class="dateTableCO" ng-repeat="ctrOperat in (user | userCtrOperatByRole)">
						<td><span>{{ctrOperat.libCtrOperat}}</span></td>
						<td class="text-center"><span>{{ctrOperat.niveau}}</span></td>
						<td class="text-center"><input type="radio" ng-model="ctrOperatChoix.selectedCtrOperat" name="ctrOperatChoix" ng-value="ctrOperat.id" /></td>
					</tr>
				</table>

			</div>
		</div>
		<div>
			<button type="button" class="pull-left btn btn-default" ng-click="valider()">
			 	{{'message.action.validate' | translate}}
			</button>
			<button type="button" class="pull-left btn btn-default" ng-click="annuler()">
				{{'message.action.cancel' | translate}}
			</button>
		</div>
	</div>
	<div class="img-decor">
	<img alt="" src="images/grue5.jpg"> 
	</div>
</div>