<div class="panel-body sogma-panel-body">
	<div class="search-form col-md-offset-1 col-md-10" ng-controller="EntityUpdateCtrl">
		<vertical-tabs>
			<tab-content title="{{'field.ctrOperat.general' | translate}}">
				<form class="form-horizontal col-md-offset-1 col-md-10" role="form" name="entityUpdate">
					<update-form entity="entity" metadata="entityMetadata" on-change="operations.changeEntityField" on-update="operations.updateEntityField" product-codes="productCodes"></update-form>
					<div class="pull-right update-btn-group">
						<button class="btn btn-default" ng-click="validateDefault()" ng-disabled="entityUpdate.$invalid || !changes.length">{{ 'message.action.validate' | translate }}</button>
						<button class="btn btn-default" ng-click="cancelDefault()">{{ 'message.action.cancel' | translate }}</button>
					</div>
				</form>
				<form-info metadata="entityMetadata" entity="entity"></form-info>
			</tab-content>
			<tab-content title="{{'entity.societe.label' | translate}}">
				<eds-selectabel-table fields = "societeFields" list-eds= "ctrOperatCreationData.societes" eds-type="societes" set-selected-elements="setSelectedElements" disabled-ids = "selectedIds.societes" selected-Eds="selectedEds.societes"></eds-selectabel-table>
			</tab-content>
			<tab-content title="{{'entity.agence.label' | translate}}">
				<eds-selectabel-table fields = "agenceFields" list-eds= "ctrOperatCreationData.agences" eds-type="agences" set-selected-elements="setSelectedElements" disabled-ids ="selectedIds.agences" selected-Eds="selectedEds.agences" ></eds-selectabel-table>
			</tab-content>
			<tab-content title="{{'entity.secteur.label' | translate}}">
				<eds-selectabel-table fields = "secteursFields" list-eds= "ctrOperatCreationData.secteurs" eds-type="secteurs" set-selected-elements="setSelectedElements" disabled-ids ="selectedIds.secteurs" selected-Eds="selectedEds.secteurs" ></eds-selectabel-table>
			</tab-content>
			<tab-content title="{{'entity.ctrMecanique.label' | translate}}">
				<eds-selectabel-table fields = "ctrMecaniqueFields" list-eds= "ctrOperatCreationData.ctrsMecaniques" eds-type="ctrsMecaniques" set-selected-elements="setSelectedElements" disabled-ids ="selectedIds.ctrsMecaniques" selected-Eds="selectedEds.ctrsMecaniques" ></eds-selectabel-table>
			</tab-content>
			<tab-content title="{{'entity.chantier.label' | translate}}">
				<eds-selectabel-table fields = "chantieresFields" list-eds= "ctrOperatCreationData.chantieres" eds-type="chantieres" set-selected-elements="setSelectedElements" disabled-ids ="selectedIds.chantieres" selected-Eds="selectedEds.chantieres"></eds-selectabel-table>
			</tab-content>
			<tab-content title="{{'field.ctrOperat.recapitulatif' | translate}}">
				<recap-table fields = "societeFields" selected-eds="selectedElements.societes" title="{{'entity.societe.label' | translate}}"></recap-table>
				<recap-table fields = "agenceFields" selected-eds="selectedElements.agences" title="{{'entity.agence.label' | translate}}"></recap-table>
				<recap-table fields = "secteursFields" selected-eds="selectedElements.secteurs" title="{{'entity.secteur.label' | translate}}"></recap-table>
				<recap-table fields = "ctrMecaniqueFields" selected-eds="selectedElements.ctrsMecaniques" title="{{'entity.ctrMecanique.label' | translate}}"></recap-table>
				<recap-table fields = "chantieresFields" selected-eds="selectedElements.chantieres" title="{{'entity.chantier.label' | translate}}"></recap-table>
				<div class="row chantier-btn-list">
					<div class="col-md-5">
						<button class="btn btn-default" ng-click="operations.saveEntity()" ng-disabled="entityUpdate.$invalid || !changes.length">{{ 'message.action.validate' | translate }}</button>
						<button class="btn btn-default" ng-click="operations.cancelUpdate()">{{ 'message.action.cancel' | translate }}</button>
					</div>
				</div>
			</tab-content>
		</vertical-tabs>
	</div>
	<!-- <sigma-infobulle element="updateData[currentTab.id].chantierData" code="updateData[currentTab.id].formObjsLst.id.value"></sigma-infobulle> -->
</div>
