<form class="form-horizontal" role="form">
	<raw-input 
		property="field"
		vertical="true"
		ng-repeat="field in entityMetadata.searchParams"
		entity="$parent.entity">
	</raw-input>
	<div class="pull-right update-btn-group">
		<button id="eds-update-validate-button.id" class="btn btn-default" ng-click="updateSubmit()">{{ 'message.action.validate' | translate }}</button>
		<button id="eds-update-cancel-button.id" class="btn btn-default" ng-click="closeTab(currentTab, false)">{{ 'message.action.cancel' | translate }}</button>
	</div>
</form>