<div class="panel-body sogma-panel-body">
	<div class="panel panel-default panel-favoris">
		<div class="panel-heading panel-heading-btn">

			<div class="col-md-6 panel-title">
				<button type="button" class="pull-left btn btn-link"
					ng-click="closeFiltre()" ng-show="filterHideBtn">
					<i class="icon ion-chevron-left"></i> {{'field.searchPanel.filtre' | translate }} 
				</button>
				<button type="button" class="pull-left btn btn-link"
					ng-click="openFiltre()" ng-hide="filterHideBtn">
					{{'field.searchPanel.filtre' | translate }} <i class="icon ion-chevron-right"></i>
				</button>
			</div>
			<div class="col-md-6 panel-title">
				<h3>{{'field.searchPanel.Liste' | translate }}</h3>
			</div>
		</div>
		<div class="panel-body sigma-tab-body-content">
			<div class="col-md-3 search-panel" ng-class="filterClass">
				<search-pane 
						entity-metadata="entityMetadata"
						query="query" 
						product-codes="productCodes" 
						on-submit="submit">
				</search-pane>
			</div>
			<div class="table-search-result col-md-9" ng-class="resultTableWidth">
				<!-- ng-show="hideSearchSpiner"> -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<input type="text" class="form-control"
								placeholder="{{quickSearchParams.fieldLabel}}" ng-model="quickSearchParams.value[codeField]"
								ng-change="executeQuickSearch()">
						</div>
					</div>
					<div class="col-md-3">
						<span class="total-items">{{'message.pagination.results' | translate:paginationData[entityType] }}</span>
					</div>
					<div class="col-md-2">
						<select class="form-control"
							ng-model="paginationData[entityType].itemsPerPage" ng-change="paginationSubmit()">
							<option>5</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
						</select>
					</div>
					<div class="col-md-4" ng-show="paginationData[entityType].totalItems">
						<pagination boundary-links="true"
							total-items="paginationData[entityType].totalItems"
							items-per-page="paginationData[entityType].itemsPerPage" max-size="2"
							rotate="false" ng-model="paginationData[entityType].currentPage"
							ng-change="paginationSubmit()" class="pagination-sm"
							previous-text="&lsaquo;" next-text="&rsaquo;"
							first-text="&laquo;" last-text="&raquo;">
						</pagination>
						
					</div>
				</div>
				<div class="row">
					<result-table entities="searchResults" 
									entity-metadata="entityMetadata" 
									on-update="operations.openEntityUpdate" 
									pagination-data="paginationData[entityType]"
									pagination-update="paginationUpdate"
									filter-code="quickSearchParams.value[codeField]">
					</result-table>
				</div>
				<div class="row chantier-btn-list">
					<div class="col-md-2">
						<button class="btn btn-default" ng-click="operations.openEntityCreate(entityMetadata)">
							<i class="icon ion-plus"></i>
							{{ 'message.action.add' | translate }}
						</button>
					</div>
					<div class="col-md-5" ng-show="paginationData[entityType].totalItems">
						<pagination boundary-links="true"
							total-items="paginationData[entityType].totalItems"
							items-per-page="paginationData[entityType].itemsPerPage" max-size="2"
							rotate="false" ng-model="paginationData[entityType].currentPage"
							ng-change="paginationSubmit()" class="pagination-sm"
							previous-text="&lsaquo;" next-text="&rsaquo;"
							first-text="&laquo;" last-text="&raquo;"></pagination>
					</div>
					<div class="col-md-5">
						<button class="btn btn-default" ng-disabled="!pageData.searchResults.length" ng-click="report('Pdf')">
							<i class="icon ion-document-text"></i>PDF
						</button>
						<button class="btn btn-default" ng-disabled="!pageData.searchResults.length" ng-click="report('Excel')">
							<i class="icon ion-document-text"></i>Excel
						</button>
					</div>
				</div>
			</div>

			<!-- TODO Uncomment -->
			<!-- <div class="col-md-9 searchLoader" ng-hide="hideSearchSpiner">
				<div class="png-spiner-container"></div>
			</div> -->
		</div>
	</div>
</div>
</div>