<div class="filtermanager" ng-init="operations.init()">
	<form role="form">
	<div class="modal-header" ng-show="true">
	    <!-- Close button -->
	    <button type="button" class="close" ng-click="multiselectModal.cancel()">&times;</button>
    	<!-- Title -->
    	<h4 class="modal-title" ng-bind="openFilterModel.title"></h4>
  	</div>
  	<div class="clear">&nbsp;</div>
	<div class="postFilter" ng-show="method == 'post'">
		
		<table width="80%" cellpadding="0" cellspacing="10" style="margin: auto; ">
			<tbody>
				<tr>
					<td><label>Utilisateur :</label></td>
					<td>{{username}}</td>
				</tr>
				<tr>
					<td><label>Centre opérationnel :</label></td>
					<td>{{ctrOperatName}}</td>
				</tr>
				<tr>
					<td><label>Page :</label></td>
					<td>{{page}}</td>
				</tr>

				<!-- Separator row -->
				<!-- <tr><td colspan="2">&nbsp;</td></tr> -->

				<tr>
					<td ><label>Libellé du filtre :</label></td>
					<td>
					<div class="input-group" ng-class="inLineClass.col3">
					<input type="text" 
						class="form-control sigma-form-search-input sigma-form-simple-search-input"
						placeholder="Saisiez votre libellé ici" ng-model="filter.name"
						ng-required="true"/>
					</div>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
	<div class="getFilters" ng-show="method == 'get'">
		<table width="80%" cellpadding="0" cellspacing="10" style="margin: auto; ">
			<tbody>
				<tr>
					<td><label>Utilisateur :</label></td>
					<td>{{username}}</td>
				</tr>
				<tr>
					<td><label>Centre opérationnel :</label></td>
					<td>{{ctrOperatName}}</td>
				</tr>
				<tr>
					<td><label>Page :</label></td>
					<td>{{page}}</td>
				</tr>

				<!-- Separator row -->
				

				<tr>
					<td><label>Filtre favori :</label></td>
					<td>
						<div class="filter {{ savedfilter == selectedFilter ? 'selected' : '' }}" ng-repeat="savedfilter in savedFilters" ng-click="operations.selectFilter(savedfilter)">
							{{ savedfilter.name }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="clear">&nbsp;</div>
	<div class="modal-footer">
		<!-- Close button -->
		<button type="button" class="btn btn-default" ng-click="openFilterModel.cancel()">Cancel</button>
		<button type="button" class="btn btn-default" ng-click="openFilterModel.save()" ng-disabled="!(filter.name || selectedFilter)">OK</button>
	</div>
	</form>
</div>	