<div class="form-info_container">
	<div class="form-info">&nbsp;</div>
	<div class="form-info_details">
		<p>
			<span class="label">{{ 'field.infobuller.identificant' | translate }}</span>
			<span class="value">{{ entity[idField] }}</span>
		</p>
		<p>
			<span class="label">{{ 'field.infobuller.dateCre' | translate }}</span>
			<span class="value">{{ entity.dateCre | date:'dd/MM/yyyy' }}</span>
		</p>
		<p>
			<span class="label">{{ 'field.infobuller.userCre' | translate }}</span>
			<span class="value">{{ entity.userCre | username }}</span>
		</p>
		<p>
			<span class="label">{{ 'field.infobuller.dateModif' | translate }}</span>
			<span class="value">{{ entity.dateModif | date:'dd/MM/yyyy' }}</span>
		</p>
		<p>
			<span class="label">{{ 'field.infobuller.userModif' | translate }}</span>
			<span class="value">{{ entity.userModif | username }}</span>
		</p>
	</div>
</div>

