<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a class="navbar-brand" href="#">
			<img src="/images/logo.png" height="30">
		</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li>
				<a href="#" ng-click="operations.goHome()">
					<i class="glyphicon glyphicon-home"></i>
					Home
				</a>
			</li>
			<!-- <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<i class="glyphicon glyphicon-cloud"></i>
					Aplicaciones <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Catálogo</a></li>
				</ul>
			</li> -->
			<li class="dropdown" ng-if="user.admin || user.superadmin">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<i class="glyphicon glyphicon-lock"></i>
					Administración <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<!-- <li><a href="#" ng-click="operations.goAdmin()">Panel</a></li>
					<li class="divider"></li>
					<li class="dropdown-submenu"> -->
						<!-- <a href="#">Elementos</a> -->
						<!-- <ul class="dropdown-menu" role="menu"> -->
							<li ng-repeat="entity in metadata.entities | filter:{access: 'PUBLIC'} | orderBy: '+label'">
								<a href="#" ng-click="operations.openEntitySearch(entity)">{{ entity.label }}</a>
							</li>
						<!-- </ul> -->
					<!-- </li> -->
				</ul>
			</li>
			<li class="dropdown" ng-if="user.id === 1">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<i class="glyphicon glyphicon-cog"></i>
					Webmaster <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="entity in metadata.entities | filter:{access:'!HIDDEN'} | orderBy: '+label'">
						<a href="#" ng-click="operations.openEntitySearch(entity)">{{ entity.label }}</a>
					</li>
				</ul>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<span kon-timer>00:00</span> para finalizar el pedido
			</li>
			<li>
				<a href="#" ng-click="operations.openEntityUpdate('user', user, { title: 'Mis datos', type: 'glyphicon glyphicon-user' })">
					<i class="glyphicon glyphicon-user"></i>
					{{ user.name }}
				</a>
			</li>
			<!-- <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
					<i class="glyphicon glyphicon-cog"></i>
					Ajustes <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li> -->
			<li>
				<a href="#" ng-click="operations.dispatchAction({ name: 'logout' })">
					<i class="glyphicon glyphicon-off"></i>
					Salir
				</a>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->