<div class="wall">
	<div class="panel-body sogma-panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<h5>Aplicaciones:</h5>
						<div class="row">
							<div class="col-md-12">
								<ul class="nav nav-pills nav-stacked">
									<li role="presentation" ng-class="{ active: !!($root.tabs | filter:{ id: 'entity_tailoring_search' }).length }" ng-click="tailorings()">
										<a href="#">
											<i class="glyphicon glyphicon-cog"></i>
											&nbsp;
											Presupuesto a medida
										</a>
									</li>
									<li role="presentation" ng-class="{ active: !!($root.tabs | filter:{ id: 'entity_catalog-product_search' }).length }" ng-click="catalog()">
										<a href="#">
											<i class="glyphicon glyphicon-th"></i>
											&nbsp;
											Catálogo virtual y metrajes
										</a>
									</li>
									<li role="presentation">
										<a href="#">
											<i class="glyphicon glyphicon-tasks"></i>
											&nbsp;
											Control y seguimiento de presupuestos
										</a>
									</li>
									<li role="presentation">
										<a href="#">
											<i class="glyphicon glyphicon-calendar"></i>
											&nbsp;
											Instalaciones
										</a>
									</li>
									<li role="presentation">
										<a href="#">
											<i class="glyphicon glyphicon-stats"></i>
											&nbsp;
											Estadíticas
										</a>
									</li>
									<li role="presentation">
										<a href="#">
											<i class="glyphicon glyphicon-dashboard"></i>
											&nbsp;
											Uso
										</a>
									</li>
								</ul>
							</div>
						</div>	
					</div>
					<div class="col-md-9">
						<img src="/images/web_offer.png" class="presupuestor-offer" />
						<button class="btn btn-success offer-button">
							<i class="glyphicon glyphicon-info-sign"></i>
							&nbsp;
							Más información
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>