<div class="container">			
	<div id="konga-nav-tabs" class="container-fluid">
		<!--<div bs-tabs="tabs" ng-model="tabs.activeTab"></div>-->

	<tabset>			    
	    <tab ng-repeat="tab in tabs" active="tab.active" select="operations.redirectTo(tab)">
	    	<tab-heading>
	    		<i ng-class="tab.type"></i></span>
		        <span class="tab-heading-title">{{ tab.title | translate:tabExtra[tab.id] }}{{ tab.hasChanges ? '*' : '' }}
		        <i class="glyphicon glyphicon-remove tab-close-btn" ng-click="operations.closeTab(tab, false)" ng-show="tab.closable"></i></span>
		    </tab-heading>
		    
		</tab>
	</tabset>
	<!-- Tab panes Container-->
	<div class="view-container">
		<div ng-view></div>
	</div>
	</div><!-- End of navTab -->
</div>