<div class="list-input padding-cero">
	<div ng-if="paginate && filteredList.length > 10">
		<!-- ng-show="hideSearchSpiner"> -->
		<div class="row">
			<div class="col-md-4 form-inline position-pagination" style="margin-top:10px" ng-show="paginationData.count">
				<label class="control-label font-normal">
					{{ 'message.pagination.results-per-page' | translate }}
				</label>
				<select class="form-control" ng-model="paginationData.limit" ng-change="pageChanged()">
					<option>10</option>
					<option>20</option>
					<option>50</option>
				</select>
			</div>
			<div class="col-md-6 text-right" ng-show="paginationData.count">
				<div class="form-inline">
					<div class="form-group">
						<span class="total-items">{{'message.pagination.results' | translate:paginationData }}</span>
					</div>
					<div class="form-group">
						<pagination boundary-links="true" total-items="paginationData.count" items-per-page="paginationData.limit" max-size="2" rotate="false" ng-model="paginationData.offset" ng-change="paginationSubmit()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"> </pagination>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr class="table-header">
					<th ng-repeat="field in fields">
						<table-header field="field" showSorting="showSorting" mode="update"></table-header>
					</th>
					<th ng-show="actions && actions.length">
						<span>{{ 'field.list-input.actions' | translate }}</span>
					</th>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-hide="filteredList.length > 0">
					<td colspan="{{ fields.length + 1 }}" class="text-center no-results">{{'field.searchResults.noresults' | translate }}</td>
				</tr>
				<tr ng-show="filteredList.length>0" ng-repeat="entity in filteredList | filter:quickSearchParams.value">
					<!-- <td>
						<div class="checkbox">
						  <label>
						    <input id="checkbox.id-list-input" type="checkbox" ng-model="entity.selected" ng-change="pageChanged()" ng-disabled="disabledIds[entity.id]">
						  </label>
						</div>
					</td> -->
					<td ng-repeat="field in fields">
						<table-cell entity="entity" field="field"></table-cell>
					</td>
	<!-- 					<table-cell entity="entity" field="field"></table-cell> -->
					<td ng-show="actions && actions.length">
						<button type="button" class="btn btn-link no-button-styles" ng-repeat="action in actions" ng-click="dispatchFieldAction(action.name, {entity: entity})" id="{{ fieldId + '-' + action.name }}">
							<i ng-class="action.icon" ng-show="action.icon.length"></i>
							{{ action.label | translate }}
						</button>
						&nbsp;
					</td>
				</tr>
				<tr ng-hide="disableField(mode, property)">
					<td colspan="{{ fields.length + 1 }}" class="text-center">
						<button type="button" class="btn btn-link" ng-click="dispatchFieldAction('add')" id="{{ fieldId }}-add">
							<i class="glyphicon glyphicon-plus"></i>
							{{ 'message.action.add' | translate }}
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>