<div class="modal" tabindex="-1" role="dialog">

  <!-- Dialog for the modal -->
  <div class="modal-dialog">

    <!-- Content for the modal -->
    <div class="modal-content">

      <!-- Header of the modal -->
      <div class="modal-header" ng-show="modal.title">

        <!-- Close button -->
        <button id="modal-tpl-closeX" type="button" class="close" ng-click="">&times;</button>

        <!-- Title -->
        <h4 class="modal-title" ng-bind="modal.title"></h4>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <!-- Include content -->
        <div ng-include="modal.contentUrl"></div>
      </div>

      <!-- Footer of the modal -->
      <div class="modal-footer">

        <!-- Close button -->
        <button type="button" class="btn btn-default" id="modal-save" ng-click="modal.save();$hide()">{{ 'message.action.validate' | translate }}</button>
        <button type="button" class="btn btn-default" id="modal-cancel" ng-click="$hide()">{{ 'message.action.cancel' | translate }}</button>
        
      </div>
    </div>
  </div>
</div>