<div class="dropdown">
  <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" ng-disabled="disableField(mode, property)" data-target="#" href="#">
    <div class="input-group">
    	<div class="input-datetimepicker" ng-model="value.text">
	    	<input name="{{ property.name }}"id="{{ fieldId }}" type="text" class="form-control" name="{{property.fieldName}}"
					placeholder="dd/MM/yyyy HH:mm" value="{{ value.text | date:'dd/MM/yyyy HH:mm' }}" ng-required="validation.required()" ng-disabled="disableField(mode, property)">
			<div></div>
    	</div>
		<div class="input-group-addon">
			<button type="button" class="btn btn-link" ng-disabled="disableField(mode, property)"id="raw-input-dateHeure-releve-select">
				<i class="glyphicon glyphicon-calendar"></i></button>
		</div>
    </div>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <datetimepicker data-ng-model="value.text" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
  </ul>
</div>

<div class="validation">
	<div class="validation-invalid-date btn-danger">
		{{	'message.field-validation.invalid-date' | translate }}
	</div>
	<div class="validation-required btn-danger">{{
		'message.field-validation.required' | translate }}
	</div>
</div>
