<textarea 
	type="text"
	class="form-control konga-form-search-input konga-form-simple-search-input"
	id="{{fieldId}}"
	placeholder=""
	ng-model="value.text"
	ng-disabled="disableField(mode, property)"
	angular.module('konga')
	ng-required="validation.required()"
	rows="{{ property.validation.maxLength / 100 }}">
</textarea>
	<!-- TODO This is not working (yet) -->
	<!-- ng-minlength="property.minLength"
	ng-maxlength="property.maxLength" -->

<div class="validation">
	<div class="validation-pattern btn-danger">
		{{ 'message.field-validation.pattern' | translate }}
	</div>
	<div class="validation-required btn-danger">
		{{ 'message.field-validation.required' | translate }}
	</div>
</div>