<div class="col-md-12">
	<input name="{{ property.name }}"type="text" class="form-control konga-form-search-input" id="{{ fieldId }}" placeholder="" ng-model="value.text" ng-disabled="disableField(mode, property)" ng-pattern="validation.pattern()" ng-required="validation.required()" maxlength="{{ validation.maxlength() }}" tabindex="{{ (index + 1) * 12 }}">
	<!-- TODO This is not working (yet) -->
	<!-- ng-minlength="property.minLength"
	ng-maxlength="property.maxLength" -->
  <!-- <div class="input-group-addon bg-invalid">
  	<button type="button" class="btn btn-link">
  		<i class="glyphicon glyphicon-remove text-bg-invalid"></i>
  	</button>
  </div> -->
</div>