<div class="padding-cero" ng-class="inLineClass.col1">
	<label for="{{ fieldId }}">{{property.fieldLabel | translate:extra }}</label>
</div>
<div class="input-group" ng-class="inLineClass.col3">
	<list-input fields="entityFields" list="value.list" eds-type="societe" disabled-ids="[]"></list-input>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-default" ng-click="openMultiSelect()" id="{{ fieldId }}-add">{{'message.action.add' | translate}}</button>
	</div>
</div>