<div class="raw-input">
	<div class="form-group mode-{{ mode }} {{ parentField ? 'derived' : '' }} {{(isExtended) ? 'extended' : '' }} {{displayMode}}">
		<label ng-hide="property.fieldType[mode] === 'COMPLEX'" class="col-xs-12 col-sm-12 col-md-4 col-lg-2">{{property.label | translate:extra }}</label>
		<div ng-class="{ 'derived': !!parentField, 'full-width-component': (['COMPLEX', 'TABLE', 'PICK_LIST'].indexOf(property.fieldType[mode]) !== -1) }" class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
			<div ng-include="contentUrl" ng-class="classFormInput"></div>
		</div>
		<div ng-if="['COMPLEX', 'TABLE', 'PICK_LIST'].indexOf(property.fieldType[mode]) === -1" class="col-xs-12 col-sm-12 col-md-8 col-md-offset-4 col-lg-10 col-lg-offset-2">
			<div class="validation-pattern text-danger" ng-show="!validation.valid_pattern()">
				<i class="glyphicon glyphicon-remove"></i>
				{{ 'message.field-validation.pattern' | translate }}
			</div>
			<div class="validation-forbidden-characters text-danger" ng-show="!validation.valid_forbiddenCharacters()">
				<i class="glyphicon glyphicon-remove"></i>
				{{ 'message.field-validation.forbidden-characters' | translate }}
			</div>
			<div class="validation-required text-danger" ng-show="!validation.valid_required()" >
				<i class="glyphicon glyphicon-remove"></i>
				{{ 'message.field-validation.required' | translate }}
			</div>
		</div>
	</div>
</div>