
<input name="{{ property.name }}"type="number"
	class="form-control sigma-form-search-input sigma-form-simple-search-input"
	id="{{ fieldId }}" placeholder="" ng-model="value.text"
 	ng-disabled="disableField(mode, property)"
	ng-pattern="validation.pattern()" ng-required="validation.required()" min="{{ validation.minvalue() }}" max="{{ validation.maxvalue() }}" tabindex="{{ (index + 1) * 12 }}">

<div class="validation">
	<div class="validation-pattern btn-danger">
		{{ 'message.field-validation.pattern' | translate }}
	</div>
	<div class="validation-required btn-danger">
		{{ 'message.field-validation.required' | translate }}
	</div>
</div>