<div class="table-search-result col-md-12" >
	<div class="col-md-3">
		<h3>{{title}}</h3>
	</div>
	<div class="col-md-3">
		<span class="total-items">{{paginationData.currentItems}}/{{paginationData.totalItems}}</span>
	</div>	
	<div class="col-md-5" ng-show="paginationData.totalItems">
		<span><a ng-click="pageChanged('first')">&lt;&lt;</a></span>
		<span><a ng-click="pageChanged('previous')">&lt;</a></span>
		<span>{{paginationData.currentPage}}</span>
		<span><a ng-click="pageChanged('next')">&gt;</a></span>
		<span><a ng-click="pageChanged('last')">&gt;&gt;</a></span>
	</div>
	<div class="col-md-12 search-table-container">
		<table class="table table-striped">
			<tr class="table-header">
				<th ng-repeat="field in fields">
					<span>{{ field.fieldLabel }}</span>
				</th>								
			</tr>
			<tr ng-repeat="eds in selectedEds |startFrom:(paginationData.currentPage-1)*paginationData.pageItems | limitTo:paginationData.pageItems">
				<td ng-repeat="field in fields">
					<span>{{eds | displayObjectData:field.fieldKey}}</span>
				</td>
			</tr>
		</table>
	</div>
</div>
