<div class="search-pane" ng-init="init()">
	<div class="search-form">
		<h3>{{ 'message.search-filters.title' | translate }}</h3>
		<form role="form">
			<div ng-include="contentUrl"></div>
			<div class="col-md-12 form-group mode-search">
				<div class="text-right">
					<button id="clear-search-pane.id" type="button" class="btn btn-default" ng-click="operations.clear()">
						<i class="glyphicon glyphicon-remove"></i>
						{{'message.action.clean' | translate}}
					</button>
					<button id="submit-search-pane.id" type="submit" class="btn btn-success" ng-click="operations.submit()">
						<i class="glyphicon glyphicon-ok"></i>
						{{'message.action.search' | translate}}
					</button>
				</div>
			</div>
			<div class="col-md-12 form-group mode-search" ng-if="entityMetadata.favoriteable">
				<label class="font-bold">
					<i class="glyphicon glyphicon-star"></i>
					{{ 'message.favorite-filter.title' | translate }}
				</label>
				<div class="col-md-12 nowrap">
					<button id="openFilterModelPost.id" class="btn btn-link" ng-click="openFilterModel({ dataType: 'filtermgt', operation: 'post'})">
						<i class="glyphicon glyphicon-floppy-save"></i>
						{{'message.favorite-filter.save-filter' | translate}}
					</button>
					<button id="openFilterModelGet.id" class="btn btn-link" ng-click="openFilterModel({ dataType: 'filtermgt', operation: 'get'})">
						<i class="glyphicon glyphicon-floppy-open"></i>
						{{'message.favorite-filter.load-filter' | translate}}
					</button>
			</div>
		</form>
	</div>
</div>