<div class="select-input {{(isExtended) ? 'extend' : 'non-extended'}}" ng-class="{ disabled: disableSelect(property) }" konga-select>
	<div ng-class="{'col-md-6': mode === 'update', 'col-md-12': mode === 'search'}">
		<div class="input-group {{ validation.required() ? 'required' : 'optional' }} {{ value.text.length ? 'valid' : 'invalid' }}">
			<input name="{{ property.name }}"type="text" class="konga-form-search-input form-control" id="{{ fieldId }}-input" ng-model="textinput" ng-disabled="disableField(mode, property)" ng-pattern="validation.pattern()" ng-required="validation.required()" ng-change="writeValue()" typeahead="item.label for item in getElements($viewValue)" typeahead-on-select="formatInput($item, $model, $label)" tabindex="{{ (index + 1) * 12 }}">
			<div class="input-group-addon">
				<button type="button" class="btn btn-link" ng-disabled="disableField(mode, property)"
					ng-click="dispatchFieldAction('open-select')" id="{{ fieldId }}-select">
					<i class="glyphicon glyphicon-search"></i>
				</button>
				<!-- <button type="button" class="btn btn-link btn-bordered-left" ng-show="showRemove(property)" ng-click="removeField(property)" id="{{ fieldId }}-remove">
					<i class="glyphicon glyphicon-remove"></i>
				</button> -->
			</div>
		</div>
	</div>
	<div class="col-md-6 complex-label" ng-show="mode === 'update'">
		<span ng-show="label.length">{{ label }}&nbsp;</span>
	</div>
	<div class="validation">
		<div class="validation-pattern btn-danger">{{
			'message.field-validation.pattern' | translate }}</div>
		<div class="validation-required btn-danger">{{
			'message.field-validation.required' | translate }}</div>
	</div>
</div>
<div class="{{(isExtended) ? 'col-md-2 extend' : 'non-extended'}}">
	<span class="complex-label-extended"
		ng-show="label.length && mode === 'update' && value.isExtended">({{
		value.extended.firstField }}) &nbsp;</span>
</div>
<div class="col-md-12" ng-if="mode === 'search'">
	<div class="row">
		<button class="btn btn-default btn-xs" ng-repeat="item in value.entity" ng-click="removeItem($index)">
			<i class="glyphicon glyphicon-remove"></i>
			{{ item | mapEdsField:labelField | shortify:15 }}
			{{ (item | mapEdsField:labelField).length > 15 ? '...' : '' }}
		</button>
	</div>
</div>