<vertical-tabs>
	<tab-content ng-repeat="cat in categories" title="{{cat | translate}}" is-show="(metadata | updateParams | filter: {category: cat}).length">
		<raw-input 
			property="field"
			vertical="true"
			source-list="productCodes[field.name]"
			ng-repeat="field in (metadata | updateParams | filter: {category: cat}) | orderBy:'order'" 
			entity="entity" 
			on-update="onUpdate"
			on-change="onChange"
			metadata="metadata"
			mode="update">
		</raw-input>
	</tab-content>
</vertical-tabs>