<vertical-tabs>
	<tab-content title="{{'category.informations.principales'| translate}}">
		<raw-input 
			property="field"
			vertical="true"
			source-list="productCodes[field.name]"
			ng-repeat="field in fields | updateParams:metadata:'category.informations.principales' | orderBy:'+priority.update'" 
			entity="entity" 
			on-update="onUpdate"
			on-change="onChange"
			metadata="metadata"
			mode="update"
			creating="creating">
		</raw-input>
	</tab-content>
	<tab-content title="{{'category.habilitations'| translate}}">
		<div>
			<habilitations-user/>
		</div>
	</tab-content>
</vertical-tabs>