<vertical-tabs>
	<tab-content ng-repeat="cat in categories" title="{{cat | translate}}" is-show="(fields | updateParams:metadata | filter: {category: cat}).length">
		<raw-input 
			property="field"
			vertical="true"
			source-list="productCodes[field.name]"
			ng-repeat="field in fields | updateParams:metadata:cat | orderBy:'+priority.update' | allowed:'update'" 
			entity="entity" 
			on-update="onUpdate"
			on-change="onChange"
			metadata="metadata"
			mode="update"
			creating="creating"
			index="$index">
		</raw-input>
	</tab-content>
</vertical-tabs>