<div class="table-input col-md-12 padding-cero">
	<div ng-if="!rows || !columns || rows.length === 0 || columns.length === 0" class="col-md-12 text-center text-danger">{{ 'message.table-input.not-yet-configured' | translate }}</div>
	<table ng-if="rows.length > 0 && columns.length > 0">
		<!-- Horizontal category -->
		<tr>
			<!-- Separator -->
			<th class="table-input-category-separator">&nbsp;</th>

			<!-- Horizontal category -->
			<th class="table-input-category horizontal" colspan="{{ columns.length }}">{{ configuration.xAxisProperty.label | translate }}</th>
		</tr>

		<!-- Horizontal headers -->
		<tr>
			<!-- Vertical category -->
			<th class="table-input-category vertical">{{ configuration.yAxisProperty.label | translate }}</th>

			<th ng-repeat="column in columns" class="table-input-header horizontal">{{ column.value }}</th>
		</tr>

		<!-- Data rows -->
		<tr ng-repeat="row in rows">			
			<!-- Vertical header -->
			<th class="table-input-header vertical">{{ row.value }}</th>

			<!-- Data -->
			<td class="table-input-content" ng-repeat="column in columns">
				<input type="number" size="2" step="any" class="text-center hideArrows" ng-repeat="step in steps | filter:getQueryObj(row, column):true" ng-model="step[valueField]" ng-class="{ invalid: step.$invalid }" ng-change="updateValue(step)" />
			</td>
		</tr>

	</table>
</div>