<div class="table-cell" ng-class="styles" title="{{ title }}">
	<span class="table-cell-content" ng-show="type === 'text'"></span>
	<img ng-src="{{ content }}" ng-if="type === 'image'" width="{{ image.width }}" height="{{ image.height }}">
	<div class="{{ field.name }} {{ content }}" ng-if="type === 'styling'"></div>
	<div ng-if="type === 'plain-filtered'">
		{{ content | customFilter:filter }}
	</div>
	<div class="custom-type" ng-if="type === 'custom'">
		<div ng-include="custom"></div>
	</div>
</div>